/* Archivos de fuetes */

@font-face {
  font-family: 'LATO';
  src: url(../MULTIMEDIA/FONTS/Lato/Lato-Black.ttf);
}

@font-face {
  font-family: 'ROBOTO';
  src: url(../MULTIMEDIA/FONTS/roboto/roboto-latin-400-normal.ttf);
}

@font-face {
  font-family: 'ROBOTO-bold';
  src: url(../MULTIMEDIA/FONTS/roboto/roboto-latin-800-normal.ttf);
}

/* Variables de colores y fuentes */

:root {
  --primario: #1073BA;
  --secundario: #00DA55;
  --gris: #3B3B3B;
  --blanco: #FFFFFF;
  --negro: #1F1E1E;
  --grisClaro: #e1e1e1;
  --fuentePrincipal: 'ROBOTO';
  --fuentePrincipal2: 'ROBOTO-bold';
  --fuenteSecundaria: 'LATO';
}

/* selector general */

* {
  margin: 0%;
  padding: 0%;
  color: var(--blanco);
  font-family: var(--fuentePrincipal);
}

/* encabezado primera parte */

.fondo-negro {

  height: 100vh;
  background-color: var(--negro);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-TI {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}

.imagen-audifonos {
  width: 50%;
}

.texto-cont {
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.c-product {
  font-family: var(--fuentePrincipal2);
  font-size: 30px;
  font-weight: bold;
}

.name-product {
  color: transparent;
  background: linear-gradient(to right, var(--primario) 10%, var(--secundario) 90%);
  background-clip: text;
  font-family: var(--fuenteSecundaria);
  font-size: 100px;
}

.description {
  font-family: var(--fuentePrincipal);
  font-size: 16px;
  line-height: 1.5;
}

.precio span {
  font-family: var(--fuentePrincipal2);
  font-size: 60px;
}

/* contenedores segunda parte */

.segunda-zona {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53vh;
  gap: 30px;
}

.item {
  text-align: center;
  width: 29%;
}

.item img {
  width: 50px;
  height: 50px;
}

.item h3 {
  color: var(--primario);
  font-family: var(--fuenteSecundaria);
  font-size: 28px;
  margin: 25px;
}

.item p {
  color: var(--negro);
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--fuentePrincipal);
}

/* contenedores tercera parte */

.tercera-zona {
  display: flex;
  height: 75vh;
}

.texto-info {
  width: 50%;
  background-color: #0d76bb;
  display: flex;
  justify-content: end;
  gap: 50px;
  padding-right: 1rem;
}

.contenedor-textos {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 86%;
  gap: 50px;
  padding-right: 1rem;
  margin-left: -1rem;
}

.subtitulo-info {
  font-family: var(--fuenteSecundaria);
  font-size: 40px;
}

.descripcion-info {
  font-family: var(--fuentePrincipal);
  font-size: 20px;
  line-height: 2;
}

.imagen {
  width: 50%;
  background-position: right;
  background-size: 70rem;
  background-image: url(../MULTIMEDIA/PICTURES/imagen-mujer.avif);
}

/* contenedores cuarta parte */

.cuarta-zona {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 50px;
}

.titulo4 {
  text-align: center;
  font-family: var(--fuenteSecundaria);
  font-size: 60px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(to right, var(--primario) -50%, var(--secundario) 150%);
  background-clip: text;
}

.contenedor-type-audifonos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  width: 90%;
}

.columna-izquierda {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 580px;
}

.producto {
  background-color: var(--grisClaro);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 220px;
  align-items: center;
  height: 200px;
}

.t-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 150px;
}

.producto h3 {
  color: var(--primario);
  font-size: 24px;
  font-family: var(--fuenteSecundaria);
  font-weight: bold;
  margin-top: 1rem;
}

.producto p {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-family: var(--fuentePrincipal2);
  font-weight: bold;
  color: var(--primario);
}

.producto img {
  width: 150px;
}

.producto-destacado {
  background-color: var(--primario);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 580px;
}

.texto-PD {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 240px;
}

.producto-destacado h3 {
  font-family: var(--fuenteSecundaria);
  font-weight: bold;
  font-size: 40px;
  height: 120px;
  display: flex;
  align-items: center;
}

.producto-destacado p {
  font-family: var(--fuentePrincipal2);
  font-weight: bold;
  font-size: 60px;
  height: 120px;
  display: flex;
  align-items: center;
}

.producto-destacado img {
  width: 250px;
}

/* contenedores quita parte */

.quinta-zona {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76vh;
}

.imagen-5 {
  width: 50%;
  background-position: -13rem 0rem;
  background-repeat: no-repeat;
  background-size: 62rem;
  background-image: url(../MULTIMEDIA/PICTURES/newsletter.avif);

}

.cont-right-5 {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.cont-form-dates {

  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.description-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  h1 {
    color: var(--negro);
    font-family: var(--fuenteSecundaria);
    font-size: 36px;
  }

  p {
    color: var(--negro);
    line-height: 1.5;
    font-size: 16px;
    font-family: var(--fuentePrincipal);
  }
}


.form {
  width: 100%;
}

.cont-form-email {
  width: 100%;
  background-color: #9bb9cf;
  display: flex;
  justify-content: center;
}

.form-de-texto {

  color: var(--primario);
  padding: 0.5rem;
  font-size: 100%;
  width: 100%;


}

.boton {
  width: 100%;
  height: 65px;
  background-color: var(--primario);
  border: none;
  color: var(--blanco);
  text-transform: uppercase;
  font-size: 20px;
  font-family: var(--fuentePrincipal2);
  font-weight: bold;
}

/* footer */

.footer p {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--fuentePrincipal);
  text-transform: uppercase;
  font-size: 20px;
  color: var(--primario);
}

/* resposive desing */

@media screen and (max-width: 960px) {

  .cuarta-zona {
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .contenedor-type-audifonos {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .columna-izquierda {
    width: 100%;
  }

  .producto-destacado {
    display: flex;
    justify-content: center;
    gap: 220px;
    width: 100%;

    img {
      width: 150px;
    }

    h3 {
      font-size: 24px;
      font-family: var(--fuenteSecundaria);
      font-weight: bold;
      height: 75px;
    }

    p {
      font-size: 40px;
      font-family: var(--fuentePrincipal2);
      font-weight: bold;
      height: 75px;
    }
  }

  .segunda-zona {
    height: 65vh;
  }


}

@media screen and (max-width: 768px) {
  .fondo-negro {
    height: 170vh;

    .cont-TI {
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .imagen-audifonos {
        width: 100%;
      }

      .texto-cont {
        width: 100%;
        align-items: center;
        text-align: center;
      }
    }
  }

  .segunda-zona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh;
    gap: 30px;

    .item {
      width: 90%;
    }
  }

  .tercera-zona {
    display: flex;
    flex-direction: column-reverse;
    height: 120vh;

    .texto-info {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      padding-right: 0;
    }

    .imagen {
      width: 100%;
      height: 50%;
      background-position: top right;

    }


  }

  .quinta-zona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .imagen-5 {
      height: 50%;
      width: 100%;
      background-size: 100%;
      background-position: 0rem 0rem;
    }

    .cont-right-5 {
      height: 50%;
      width: 100%;
      align-items: center;
    }

  }